[submodule "vim/pack/plugins/codi.vim"]
	path = vim-plugs/opt/codi.vim
	url = https://github.com/metakirby5/codi.vim
[submodule "vim/pack/plugins/vim-autoformat"]
	path = vim-plugs/start/vim-autoformat
	url = https://github.com/chiel92/vim-autoformat
[submodule "vim/pack/plugins/vim-gutentags"]
	path = vim-plugs/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/pack/plugins/vim-minimap"]
	path = vim-plugs/opt/vim-minimap
	url = https://github.com/severin-lemaignan/vim-minimap
[submodule "vim/pack/plugins/ctrlp.vim"]
	path = vim-plugs/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/plugins/listtoggle"]
	path = vim-plugs/start/listtoggle
	url = https://github.com/valloric/listtoggle
[submodule "vim/pack/plugins/SearchComplete"]
	path = vim-plugs/start/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "vim/pack/plugins/terminus"]
	path = vim-plugs/start/terminus
	url = https://github.com/wincent/terminus
[submodule "vim/pack/plugins/vim-autoclose"]
	path = vim-plugs/start/vim-autoclose
	url = https://github.com/townk/vim-autoclose
[submodule "vim/pack/plugins/vim-bbye"]
	path = vim-plugs/start/vim-bbye
	url = https://github.com/moll/vim-bbye
[submodule "vim/pack/plugins/vim-better-whitespace"]
	path = vim-plugs/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/pack/plugins/vimcompletesme"]
	path = vim-plugs/start/vimcompletesme
	url = https://github.com/ajh17/vimcompletesme
[submodule "vim/pack/plugins/vim-easymotion"]
	path = vim-plugs/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/pack/plugins/vim-endwise"]
	path = vim-plugs/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/pack/plugins/vim-eunuch"]
	path = vim-plugs/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/pack/plugins/vim-highlightedyank"]
	path = vim-plugs/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/pack/plugins/vim-searchindex"]
	path = vim-plugs/start/vim-searchindex
	url = https://github.com/google/vim-searchindex
[submodule "vim/pack/plugins/vim-sleuth"]
	path = vim-plugs/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
